// Place all the styles related to the medicine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type='checkbox'] {
  float:left;
  margin: 5px;
  margin-top: 1px;
  font-size: 100px;
}