<!DOCTYPE html>
<html>
<head>
  <title>Tchackathon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<nav class="bar bar-tab">
  <a class="tab-item active" href="/home">
    <span class="glyphicon glyphicon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="/medicine">
    <span class="glyphicon glyphicon-list"></span>
    <span class="tab-label">Medicine List</span>
  </a>
  <a class="tab-item" href="/surveys">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <span class="tab-label">Survey</span>
  </a>
</nav>

</body>
</html>